.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px #141414;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color:#030000;
    font-size: 38px;
    font-weight: 600;
}
.nav-menu{
    display:flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #140101;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border:none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff0000;
}
.nav-Login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-Login-cart button{
    width: 150px;
    height:58px;
    outline:none;
    border: 1px solid #c72929;
    border-radius: 75px;
    border-width: 2px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-Login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -35px;
        margin-left: -55px;
        border-radius: 11px;
        font-size: 14px;
        background: #ff0000;
        color: #f3f3f3;
    }
  

@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      gap: 16px;
    }
  
    .nav-menu {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .nav-Login-cart {
      flex-direction: column;
      gap: 16px;
    }
  }

  .nav-menu li hr {
    transition: width 0.3s ease-in-out;
}
